input{
  border: 2px solid darkblue;
  background-color: darkseagreen
}

body{
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(14,9,121,1) 0%, rgba(0,212,255,1) 100%);
}



center{
  background-color: yellow
}

h1{
  color:darkblue
}

h3
{
  color: red
}


 h2
 {
   color: blue;
 }

legend{
  color: darkblue;
}

right{
  background-color: teal;
}
